@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

:root {
  --naranja: #91461f;
  --blanco: #f5f4f4;
  --dorado: #91461f;
}

/*morado color 8B39B8*/

.cuadro {
  width: 100%;
  height: 500px;
}

.fondo-marmol {
  background-image: url('assets/images/shutterstock_2257848893.png');
  background-size: contain;
  background-position: center;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*INICIO FUENTE*/

h1 {
  font-family: "Fredoka", serif;
  font-size: 4.5rem;
  text-align: center;
}

h2 {
  font-family: "fredoka", serif;
  text-align: center;
  font-size: 3rem;
  font-weight: 400;
}

h3 {
  text-align: center;
  font-family: "Fredoka", serif;
  font-size: 2rem;
}

p {
  text-align: center;
  font-family: "Fredoka", serif;
  font-size: 2rem;
  line-height: 2.4rem;
  font-weight: 300;
}

.morado {
  color: var(--naranja);
}

.dorado {
  color: var(--dorado);
}

/*FIN FUENTE*/

/*REPRODUCTOR DE MÚSICA*/

.reproductor-musica {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 30px;
  background-color: var(--blanco);
  border-radius: 20px;
  width: 400px;
}

#progreso {
  appearance: none;
  -webkit-appearance: none;
  width: 100%;
  height: 7px;
  background: rgba(165, 165, 165, 0.4);
  margin: 14px 0 14px;
  cursor: pointer;
  border-radius: 5px;
}

#progreso::-webkit-slider-thumb {
  appearance: none;
  -webkit-appearance: none;
  background: var(--morado);
  width: 16px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  box-shadow: 0 6px 10px var(--morado);
}

.controles {
  display: flex;
  justify-content: center;
}

.controles button {
  width: 50px;
  aspect-ratio: 1/1;
  margin: 5px;
  background: rgba(165, 165, 165, 0.3);
  color: var(--morado);
  border-radius: 50%;
  border: 0px solid var(--morado);
  outline: 0;
  font-size: 1.5rem;
  box-shadow: 0 6px 10px rgba(165, 165, 165, 0.3);
  cursor: pointer;
  transition: all 0.3s linear;
}

.controles .control:hover {
  transform: scale(1.2);
}

.countdown {
  display: flex;
  justify-content: center;
  align-items: start;
  font-family: "Fredoka", serif;
  font-size: 3rem;
  color: #000;
  text-align: center;
  background-color: #ffffff;
  border-radius: 15px;
  width: 80%;
  padding: 8px 15px;
  box-shadow: 0 6px 10px rgba(165, 165, 165, 0.3);

}

.time {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.time span {
  display: block;
}

.separator {
  margin: 0 10px;
}

.label {
  font-size: 16px;
  font-weight: bold;
  margin-top: 5px;
  color: #333;
}

.lineal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

a {
  margin-top: 30px !important;
  border-radius: 15px;
  width: 300px !important;
  padding: 5px 15px;
  font-family: "Oranienbaum", serif;
  font-size: 2rem;
  cursor: pointer;
  text-align: center;
  color: var(--blanco);
  background-color: #91461f;
  text-decoration: none;
  display: inline-block;
  transition: all 0.3s ease;
  /* Suaviza la animación */
}

a:hover {
  background-color: #582411;
  transform: scale(1.07);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.Galeria img {
  width: 100% !important;
  border-radius: 15px;
  padding: 0 5px;
}





@media screen {}